<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.uwaterloo.ist.metricapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-sdk android:minSdkVersion="15"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/UWaterloo" >
        <activity
            android:name="ca.uwaterloo.ist.metricapp.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.uwaterloo.ist.metricapp.Main"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="ca.uwaterloo.ist.metricapp.CategoryActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ca.uwaterloo.ist.metricapp.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>

        <service
            android:name="ca.uwaterloo.ist.metricapp.mail.SignInSenderService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="ca.uwaterloo.ist.metricapp.database.MetricDataService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="ca.uwaterloo.ist.metricapp.database.SignDataService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="ca.uwaterloo.ist.metricapp.mail.SummarySenderService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="ca.uwaterloo.ist.metricapp.database.DatabaseSenderService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver
            android:name="ca.uwaterloo.ist.metricapp.alarm.StartMyServiceAtBootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="StartMyServiceAtBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="ca.uwaterloo.ist.metricapp.alarm.BackupAlarmReceiver"
            android:enabled="true"
            android:label="BackupAlarmReceiver" >
        </receiver>

        <activity
            android:name="ca.uwaterloo.ist.metricapp.EmailOptionsActivity"
            android:label="@string/title_activity_email_options" >
        </activity>
    </application>

</manifest>